@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
   
}

body{
    font-family: 'Contrail One', cursive;
    font-size: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #F6F6F6;
}

body > .main {
    justify-self: center;
    align-self: center;
}


.btn-choice{
  margin: 50px;
  padding: 40px 150px;
  border: 4px solid black;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  background-color: #F6F6F6;
}

.btn-choice:hover{
    color: #FFFFFF;
    background-color: #000000;
  
   }

.reset-btn {
    height: 150px;
    width: 150px;
    margin: 100px;
    padding: 50px;
    border: 6px solid #000000;
    border-radius: 50%;
    box-shadow: 10px 20px 5px #000000;
    transition: all 400ms ease-out;
}

.reset-btn:hover{
    color: #F6F6F6;
    background-color: #000000;
    cursor: grab;
    box-shadow: 10px 20px 10px #FFFFFF;
    transform: translate(10px, 5%);
    border: 6px solid #F6F6F6;
}

#rick{
    width: 200px;
    height: 200px;
    background: url(./image/rickandmorty\ \(1\).png);
    animation: runRick 1.0s steps(6) infinite;
    border: 9px solid #000000;
}

@keyframes runRick {
    0% {
        background-position: 0px ;
    }
    100% {
        background-position: -700px;
    }
}