@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Contrail One', cursive;
    text-align: center;
}


